/* 기본 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


/* 전역 변수 */
:root {
  /* 색상 */
  --primary-color: #007bff;
  --primary-text: #333;
  --primary-filter: invert(19%) sepia(0%) saturate(2%) hue-rotate(82deg) brightness(96%) contrast(96%);
  --primary-color-filter: invert(19%) sepia(0%) saturate(2%) hue-rotate(82deg) brightness(96%) contrast(96%);
  --text-color: #333;
  --text-secondary: #484848;
  --bg-color: #F2F3F7;
  --container-bg: #F2F3F7;
  --dark-text: #f5f5f5;
  --dark-bg: #1e1e1e;
  --border-color: rgba(0, 0, 0, 0.45);
  --dark-border: rgba(255, 255, 255, 0.1);
  --hover-bg: rgba(0, 0, 0, 0.1);
  --overlay-bg: rgba(255, 255, 255, 1.0);
  --pass-color: #007bff;
  --pass-filter: invert(35%) sepia(97%) saturate(4192%) hue-rotate(201deg) brightness(106%) contrast(103%);
  --danger-color: #dc3545;
  --danger-filter: invert(33%) sepia(60%) saturate(4976%) hue-rotate(337deg) brightness(90%) contrast(90%);
  --success-color: #28a745;
  --success-filter: invert(54%) sepia(19%) saturate(1631%) hue-rotate(81deg) brightness(93%) contrast(92%);
  --window-opacity: 1;
  --bg-opacity: 0.8;
  --bg-rgb: 255, 255, 255;
  --dark-bg-rgb: 30, 30, 30;
  --active-color: rgba(188, 188, 188, 1.0);
  --btn-bg: rgba(255, 255, 255, 0.025);
  --icon-filter: brightness(0) saturate(100%) invert(37%) sepia(1%) saturate(0%) hue-rotate(19deg) brightness(96%) contrast(93%);
  --container-shadow-up: #c7c7c7af;
  --container-shadow-down: #eeeeeec7; 
  --primary-color-shadow-up: #007bffaf;
  --primary-color-shadow-up: #007bffaf;
  --logo-filter: none;

  /* 크기 */
  --container-width: 100vw;
  --logo-width: 80vw;
  --logo-height: 50vh;
  --btn-size: 34px;
  --btn-iconsize: 30px;
  --close-btn-size: 25px;
  --content-padding: 10px;
  
  /* 간격 */
  --spacing-xxs: 3px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;

  /* 트랜지션 */
  --transition-default: 0.3s ease;
}

/* 다크모드 */
[data-theme="dark"] {
  --text-color: #f5f5f5;
  --text-secondary: #ccc;
  --bg-color: #1e1e1e;
  --bg-rgb: 30, 30, 30;
  --bg-secondary: #262626;
  --border-color: rgba(255, 255, 255, 0.5);
  --container-bg: rgba(40, 40, 40, 0.8);
  --hover-bg: rgba(255, 255, 255, 0.05);
  --overlay-bg: rgba(32, 32, 32, 1.0);
  --active-color: rgba(48, 48, 48, 1.0);
  --btn-bg: rgba(0, 0, 0, 0.025);
  --icon-filter: brightness(0) saturate(100%) invert(61%) sepia(2%) saturate(0%) hue-rotate(327deg) brightness(95%) contrast(84%);
  --container-shadow-up: #161616bb;
  --container-shadow-down: #131313a9;
  
  /* 단락 관련 */
  --paragraph-bg: #262626;
  --paragraph-hover: rgba(255, 255, 255, 0.1);
  
  /* 버튼 관련 */
  --btn-text: #fff;
  --btn-border: rgba(255, 255, 255, 0.3);
  --btn-hover: rgba(255, 255, 255, 0.1);
}

/* 기본 리셋 */
html, 
body, 
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  user-select: none;
  transition: background-color var(--transition-default), 
              color var(--transition-default);
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

*:focus {
  outline: none !important; /* 노란 포커스 테두리 제거 */
}


/* 앱 기본 레이아웃 */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* 앱 컨테이너 */
.app-container {
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: background-color var(--transition-default);
}